.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
PhotoGuide.iml
.idea/misc.xml
.idea/gradle.xml
.idea/gradle.xml
.idea/gradle.xml
.idea/vcs.xml
.idea/gradle.xml

app/src/main/ic_launcher_daniel-web.png
